<%- include("partials/head.ejs") %>
<%- include("partials/header.ejs") %>
<h2>Items List</h2>
<table id="items-table">
  <tr id="items-table-header">
    <th>Name</th>
    <th>Description</th>
    <th>Quantity</th>
    <th>Category</th>
    <th colspan="2"></th>
  </tr>
  <% if (items && items.length) { %>
  <% items.forEach((item) => { %>
  <tr>
    <td><%= item.name %></td>
    <td><%= item.description %></td>
    <td><%= item.quantity %></td>
    <td><%= item.category %></td>
    <td>
      <a href="/items/edit/<%= item.id %>">
        <button type="button">edit</button>
      </a>
    </td>
    <td>
      <form
        method="POST"
        action="/items/delete/<%= item.id %>"
        style="display: inline"
      >
        <button>delete</button>
        <input type="hidden" name="_csrf" value="<%= _csrf %>" />
      </form>
    </td>
  </tr>
  <% }) %>
  <% } %>
</table>
<a href="/items/new">
  <button type="button">add new item</button>
</a>
<a href="/"><button type="button">home</button></a>

<%- include("partials/footer.ejs") %>
